body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pomodoro-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

button {
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    text-transform: uppercase;
}

button#start-btn {
    background-color: green;
}

button#start-btn:hover {
    opacity: 0.7;
}

button#stop-btn {
    background-color: red;
}
button#stop-btn:hover {
    opacity: 0.7;
}

button#reset-btn {
    background-color: grey;
}

button#reset-btn:hover {
    opacity: 0.7;
}