body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1683014221663-a99a4de08a03?q=80&w=2135&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
    color:white;
}

.clock {
    display: flex;
    justify-content: center;
}

.clock div {
    margin: 5px;
    position: relative;
}

.clock span {
    width: 100px;
    height: 80px;
    background:seashell;
    opacity: .8;
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    color: white;
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkorange;
    opacity: 0.8;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background:goldenrod;
    color: white;
}
