body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.age-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.age-container .title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.age-container .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 300px;
}

.dob {
    margin: 20px 0;
    width: 100%;
    height: 25px;
}

.calculate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color:royalblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.result-container {
    margin-top: 20px;
    font-size: 1.5rem;
    text-align: center;
}